$primary-background: #455a64;
$primary-light-background: #718792;
$primary-dark-background: #1c313a;

$secondary-background: #37474f;
$secondary-light-background: #62727b;
$secondary-dark-background: #102027;

$primary-text-color: #ffffff;

$accent-color: #c1d5e0;

$mobile: 479px;
$tablet: 767px;
$big-tablet: 991px;
$desktop: 1280px;

$font-small-mobile: 14px;
$font-mobile: 16px;
$font-tablet: 16px;
$font-big-tablet: 18px;
$font-desktop: 20px;

$header-height: 80px;
$footer-height: 50px;

%font {
  font-size: $font-small-mobile;

  @media screen and (min-width: $mobile) {
    font-size: $font-mobile;
  }
  @media screen and (min-width: $tablet) {
    font-size: $font-tablet;
  }
  @media screen and (min-width: $big-tablet) {
    font-size: $font-big-tablet;
  }
  @media screen and (min-width: $desktop) {
    font-size: $font-desktop;
  }
}

body {
  color: $primary-text-color;
  background-color: $primary-background;
}
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font;

  margin: 0;
  padding: 0;
}

%reset-list {
  list-style: none;
}
%reset-link {
  text-decoration: none;
  color: inherit;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
