@import './modern-normalize';
@import './variables';
@import './header';
@import './main-block';
@import './extended-info';
@import './footer';
.grid-container {
  display: grid;
  grid-template-areas: 'header header ' 'main  map' 'footer  footer';
  grid-template-columns: 2fr 5fr;
  grid-template-rows:
    $header-height calc(100vh - #{$header-height} - #{$footer-height})
    $footer-height;
}
.align-icon {
  position: relative;
  top: 4px;
}
.map {
  grid-area: map;
}
